* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: #232630;
    color: #C1C1C1;
}

a {
    text-decoration: none;
    color: #C1C1C1;
    font-size: 24px;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding-top: 117px;
    background-image: url("assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    width: 65%;
    height: 100vh;
    margin-left: 35%;
}

section:first-child {
    height: 100%;
}

.main-header img {
    width: 70%;
    border-radius: 50%;
    margin: 0 15%;
}

.ul-icons {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ul-icons li {
    list-style: none;
    transition: transform 450ms ease-out;
}

.ul-icons li:hover {
    transform: scale(1.29);
}

.icon-a {
    font-size: 40px;
    transition: color 500ms;
}

.icon-a:hover {
    color: #0F94A7;
}

.ul-header-mobile {
    display: none;
}

.ul-header {
    width: 65%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transition: all .5s;
    padding-right: 30px;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 35%;
    z-index: 9;
    background: rgba(126, 127, 128, 0.1);
    backdrop-filter: blur(600px);
}

.li-header {
    list-style: none;
    padding: 0 20px;
}

.li-header a {
    color: #FFF;
    font-size: 22px;
    transition: color 500ms;
}

.li-header a:hover {
    color: #0F94A7;
}
.li-header:active{
    opacity: 0.4;
}

.header-icon {
    background-color: #0F94A7;
    width: 50px;
    position: fixed;
    top: 5%;
    right: 3%;
    z-index: 99;
    border-radius: 0px 10px;
    display: none;
    border: none;
}

.header-icon i {
    font-size: 30px;
    padding: 10px;
    color: #232630;
}
.header-icon:active{
    opacity: 0.4;
}
.presentation {
    margin: 20% auto;
    width: 70%;
    overflow: hidden;
}

.presentation h2 {
    font-weight: 400;
    text-align: start;
    font-size: 28px;
}

.name {
    color: #0F94A7;
    margin-left: 150px;
    font-size: 35px;
    font-weight: 700;
    width: 0;
    height: auto;
    border-right: 2px solid #FFF;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 6s steps(30) infinite, cursor 500ms steps(10) infinite normal;
}

h3 {
    color: #C1C1C1;
    text-align: end;
    font-size: 28px;
    font-weight: 500;
}

.logo {
    height: 35%;
    position: absolute;
    bottom: 2%;
    right: 10px;
}

#about {
    height: auto;
    margin-bottom: 10%;
}

.title-about {
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    color: #FFF;
    font-weight: 500;
}

.about-p {
    line-height: 35px;
    word-spacing: 2px;
    text-align: center;
    width: 84%;
    margin: 5% auto 15%;
    font-size: 20px;
}

.border-title {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    padding-top: 100px;
}

.border-title div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130%;
}

.color {
    height: 4px;
}

.color:first-child {
    background-color: #dcedf0c5;
    border-radius: 15px 0 0 5px;
}

.color:nth-child(2) {
    background-color: #13abc3d4;
}

.color:nth-child(3) {
    background-color: #0f93a7b6;
}

.color:last-child {
    background-color: #0f93a752;
    border-radius: 0 6px 10px 0;
}

.my-img-home {
    display: none;
}

.container-skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 10px;
}

#skills {
    width: 84%;
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
    border-radius: 60px;
}

#skills ul {
    padding: 20px 5px;
}

#skills ul li {
    margin-right: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #0f93a752;
    box-shadow: 0px 0px 15px 2px #0F94A7;
    display: inline-block;
    text-align: center;
    color: #ffffffc0;
}

#skills i {
    font-size: 55px;
    margin-top: 25%;
}

#skills img {
    width: 60px;
    margin-top: 18%;
}

#skills .fa-apple, #skills .fa-android {
    font-size: 30px;
}

#btn-left,
#btn-right {
    width: 50px;
    height: 50px;
    color: #858484;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    box-shadow: 0px 6px 10px 1px #858484;
}

#btn-left:active, #btn-right:active{
    opacity: 0.5;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 200px;
    margin-top: 5%;
}

.container-project {
    width: 45%;
    position: relative;
    margin: 10px 10px 20px;
    cursor: pointer;
}

.banner-main-img {
    width: 100%;
    filter: contrast(30%);
    max-height: 250px;
}

.banner-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

.ul-banner-main {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #262627a4;
    width: 100%;
}

.ul-banner-main img {
    width: 38px;
}

.container-project li {
    font-size: 36px;
    list-style: none;
}

.description {
    background-color: #232630;
    position: absolute;
    top: 0;
    display: none;
    box-shadow: 0px 3px 10px 2px #858484;
    border-radius: 5px;
    padding: 10px 0;
    z-index: 99;
}

.description h2 {
    color: #0F94A7;
    text-align: center;
}

.description p {
    margin: 10px 20px;
}

.icons-description {
    padding-left: 10px;
}

.icons-description ul {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.icons-description li {
    font-size: 16px;
}

.icons-description h3 {
    text-align: start;
    font-size: 20px;
    margin: 10px 0;
}

.links {
    display: flex;
    justify-content: end;
}

.btn-repo {
    margin: 0 15px;
    transition: transform 450ms ease-out;
}

.contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 65%;
        height: 50px;
        background-color: #3A3D46;
        border-top: 2px solid #0F94A7;
        font-size: 18px;
}

.contacts .ul-icons{
    display: none;
}

.link-external {
    font-size: 30px;
}

.link-github {
    font-size: 35px;
}

.btn-repo:hover {
    transform: scale(1.29);
    color: #0F94A7;
}

.fa-html5 {
    color: #DC4C25;
}

.fa-css3 {
    color: #2AB0E9;
}

.fa-js {
    color: #EFD81D;
}

.fa-react {
    color: #5ED3F3;
}

.fa-node {
    color: #8BBF3D;
}

.fa-android, .fa-apple{
    color: #5ED3F3;
    font-size: 20px;
}

.fa-git-alt {
    color: #E84D31;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #0F94A7;
    border-radius: 20px;
}

@keyframes openDescription {
    from {
        transform: translateX(-100px) scale(0.1);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes closeDescription {
    from {
        transform: translateX(0);

    }

    to {
        transform: translateY(-140px) scale(0.1);
    }
}

@keyframes openMenu {
    from {
        transform: translateX(150px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes closeMenu {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(180px);
    }
}

@keyframes typing {
    10% {
        width: 50px;
    }

    50% {
        width: 210px;
    }

    100% {
        width: fit-content;
    }
}

@keyframes cursor {
    from {
        border-right-color: #b0adad;
    }

    to {
        border-right-color: transparent;
    }
}

@media screen and (max-width:940px) {

    .presentation {
        width: 80%;
    }

    .presentation h2 {
        font-size: 25px;
    }

    .name {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    @keyframes typing {

        50% {
            width: 180px;
        }

        100% {
            width: fit-content;
        }
    }

    .img-home {
        max-height: 450px;
    }

    .logo {
        max-height: 350px;
    }

    #skills {
        border-radius: 80px;
    }

    #skills ul li {
        width: 140px;
        height: 140px;
    }

    #skills i {
        font-size: 50px;
        margin-top: 20%;
    }

    #skills img {
        width: 45px;
        margin-top: 20%;
    }

    .ul-banner-main i {
        font-size: 28px;
    }

    .ul-banner-main img {
        width: 35px;
    }

}

@media screen and (max-width:800px) {
    .li-header {
        padding: 0 10px;
    }

    .li-header a {
        font-size: 20px;
    }

    .name {
        margin-left: 80px;
    }

    .about-p {
        line-height: 28px;
        width: 90%;
        margin: 5% auto 10%;
        font-size: 18px;
    }

    .description {
        display: none;
        overflow-y: auto;
        max-height: 200px;
    }

    .description h2 {
        font-size: 22px;
    }

    .description p {
        margin: none;
        text-align: center;
    }

    .icons-description h3 {
        font-size: 18px;
    }

    .logo {
        max-height: 300px;
    }

    .ul-banner-main i {
        font-size: 22px;
    }

    .ul-banner-main img {
        width: 28px;
    }

}

@media screen and (max-width:650px) {
    .main-header {
        display: none;
    }

    .main-content {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .ul-header {
        width: 100%;
        top: 0%;
        left: 0%;
    }

    .my-img-home {
        width: 40%;
        border-radius: 50%;
        margin: 0% auto;
        display: block;
    }

    .contacts {
        width: 100%;
        height:auto;
        font-size: 16px;
    }
    .contacts .ul-icons{
        display: flex;
        position: relative;
        gap: 30px;
        margin: 3% 0;
    }

    .contacts p{
        padding-bottom: 15px;
    }

    .ul-icons li:hover {
        transform: none;
    }

    .icon-a:hover {
        color: #C1C1C1;
    }

    .icon-a {
        font-size: 35px;
    }

}

@media screen and (max-width:480px) {

    .logo {
        width: 80%;
        position: relative;
        margin: 20% 10%;
        height: auto;
    }

    .title-about {
        font-size: 25px;
    }

    .ul-header {
        display: none;
    }

    .ul-header-mobile {
        width: auto;
        height: 100%;
        position: fixed;
        top: 0%;
        right: 0;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1px 0 0 80px;
        border-left: 3px solid #0F94A7;
        background-color: #3A3D46;
        z-index: 9;
    }

    .li-header-mobile {
        list-style: none;
        padding: 15px 0;
        margin: 0 20px;
    }

    .row {
        padding-bottom: 100px;
    }

    .container-project {
        width: 40%;
        margin: 10px 5px 20px;
    }

    .ul-banner-main {
        gap: 5px;
    }

    .ul-banner-main i {
        font-size: 20px;
    }
    .ul-banner-main .fa-android,
    .ul-banner-main .fa-apple {
        font-size: 15px;
    }

    .ul-banner-main img {
        width: 20px;
    }

    .container-project li {
        font-size: 18px;
    }

    .container-skills {
        display: flex;
        padding: 0;
    }

    #skills {
        width: 100%;
        overflow: visible;
        white-space: normal;
        border-radius: 0px;
    }

    #skills ul {
        padding: 0px;
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 40px;
    }

    #skills ul li {
        margin: 0;
        width: auto;
        height: auto;
        padding: 10px 0;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 2px #0F94A7;
        font-size: 16px;
    }

    #skills i {
        font-size: 30px;
        margin-top: 10px;
    }

    #skills img {
        width: 35px;
        margin: 0;
    }
    #skills .fa-apple, #skills .fa-android {
        font-size: 20px;
    }

    #btn-left,
    #btn-right {
        display: none;
    }

    .icons-description ul {
        gap: 4px;
        margin-bottom: 5px;
    }

    .icons-description li {
        font-size: 14px;
    }

    .btn-repo {
        margin: 20px 10px 0;
    }

    .link-external {
        font-size: 25px;
    }

    .link-github {
        font-size: 30px;
    }

}